@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
#tel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 630px;
    width: 314px;
    background: url('../imagens/frame-iphone.png');
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 469px;
}
